/* -----------------------leftside nav bar---------------------------- */
.main1 {
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(184, 184, 184);
    box-shadow: rgb(0 0 0 / 15%) 0px 1px 10px -5px;
    display: flex;
    height: 56px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.main2 {
    display: flex;
}

.main4 {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.main3 {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(44, 75, 255);
}
.main5 {
    width: 64px;
    height: 56px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.main6 {
    display: flex;
    position: relative;
    z-index: 2;
}

.main7 {
    height: 100%;
    display: flex;
    padding: 0px 24px;
    font-size: 16px;
    text-decoration: none;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(18, 30, 102);
    background-color: rgb(245, 245, 245);
}

.main8 {
    height: 100%;
    display: flex;
    padding: 0px 24px;
    font-size: 16px;
    text-decoration: none;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(99, 99, 99);
    background-color: transparent;
}

.submain8 {
    color: rgb(255, 255, 255);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 12px;
    background: rgb(135, 194, 33);
    border-radius: 12px;
    padding: 2px 8px;
    margin-left: 8px;
    margin-top: 2px;
}
/* ------------------------rightside navbar----------------------- */
#help {
    margin-left: -10%;
}
.left1 {
    -webkit-box-align: center;
    align-items: center;
    color: rgb(99, 99, 99);
    display: flex;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    height: 100%;
    padding: 0px 24px;
    position: relative;
    text-decoration: none;
    z-index: 2;
    cursor: pointer;
}

.left2 {
    display: inline-block;
    fill: currentcolor;
    width: 16px;
    height: 16px;
}
.left3 {
    margin-left: 8px;
}

#rightnav{
    display: flex;
    flex-direction: row;
}
/* ------------------------ */

* {
    box-sizing: border-box
}

body {
    font-family: "Lato", sans-serif;
    background-color: #f5f5f5;
}

/* Style the tab */
.tab {
    float: left;
    border-right: 1px solid grey;
    background-color: #f5f5f5;
    width:18%;
    height: 800px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: grey;
    padding:10px 10px;
    width:90%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
    border-radius: 5px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: rgb(200, 200, 200)
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #f5f5f5
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #f5f5f5;
    width: 70%;
    border-left: none;
    height: 300px;
    display: none;
}

/* Clear floats after the tab */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#account,
#orginazation,
#channel {
    width: 40%;
    margin-left: 230px;
    margin-top: 50px;
    line-height: 30px;

}

#billing>h1 {
    margin-left: 20px;
}

#orginazation>div {
    color: grey;
    width: 90%;
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 0.5px solid gray;
    height: 400px;
}

#account>div {
    color: grey;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 0.5px solid gray;
}

#account>div>input,
#orginazation>div>input {
    width: 90%;
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid gray;
    height: 30px;
    margin-top: 10px;
}

#account>div>button,
#orginazation>div>button {
    width: 30%;
    background-color: #d4d1d1;
    height: 40px;
    color: gray;
    margin-bottom: 20px;
    border: 1px solid gray;
    margin-left: 60%;
    text-align: center;
}

.flex {
    display: flex;
}

.flex>div {
    flex-basis: 50%;
    margin-right: 20px;
    background-color: white;
    border: 1px solid gray;
    height:170px;
    margin-bottom: 20px;
    border-radius: 5px;

}
.flex a
{
   margin-top: 20px;
}

.fa-facebook{

    background: #3972ee;
    color: white;
    padding: 20px;
    border-radius: 50%;
    margin-top:25%;
    margin-left: 55px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    padding: 20px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 55px;
}

.fa-instagram {
    background: rgb(192, 7, 177);
    color: white;
    padding: 20px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 55px;
}

.fa-linkedin {
    background: rgb(7, 50, 192);
    color: white;
    padding: 20px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 55px;
}

.fa-pinterest {
    background: rgb(192, 29, 7);
    color: white;
    padding: 20px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 55px;
}

.fa-youtube {
    background: rgb(3, 173, 12);
    color: white;
    padding: 20px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 55px;
}

.flex>div>h4 {
    text-align: center;
}

.flex>div>p {
    text-align: center;
    color: grey;
    margin-top: -25px;
}

.flex>div>h5 {
    text-align: center;
    color: grey;
    margin-top: -15px;
}

#method,
#invoice {
    background-color: white;
    border: 1px solid gray;
    height: 200px;
    width: 70%;
    padding: 10px;
    margin: 20px;
}

#method>button {
    width: 20%;
    height: 50px;
    color: gray;
    margin-bottom: 20px;
    border: 1px solid gray;
    margin-left: 75%;
    text-align: center;
}
#invoice>div>a>button {
    width:100%;
    height: 50px;
    color: gray;
    margin-bottom: 20px;
    border: 1px solid gray;
    text-align: center;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.popup {
position: relative;
display: inline-block;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* The actual popup */
.popup .popuptext {
visibility: hidden;
width: 160px;
background-color: #555;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 8px 0;
position: absolute;
z-index: 1;
bottom: 125%;
left: 50%;
margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
visibility: visible;
/* -webkit-animation: fadeIn 1s;
animation: fadeIn 1s; */
}
#myPopup
{
width:300px;
height:150px;
background-color: white;
color:black;
}
#myPopup>input
{
width:250px;
height:50px;
background-color: white;
color: grey;
}