*{
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    
}
.div1{
  display: flex;
  height: 48vw;

}
.div1>div:nth-child(2){
  background-image: url(https://static.buffer.com/login/public/img/signup-bkg-publish.png);
  background-size: 300px;
  width: 35%;
  text-align: center;
 
}
.div1>div:nth-child(1){
  width: 65%;
}

.right>div{
  width: 70%;
  margin: auto; 
  line-height: 25px; 
  margin-top: 20%;
  margin-bottom: 30.5%; 
  color: white;            
}
img{
 width: 120px;
 height: 60px;
 margin-left: 20px;
}
.right img{
 width: 80px;
}
.form{
 width: 55%;
 margin: auto;

}
input{
 width: 98%;
 height: 45px;
 border: 1px solid gray;
 outline: gray;
 border-radius: 4px;
 padding-left: 10px;
 font-size: 16px;
}
button{
 width: 100%;
 height: 45px;
 font-size: 17px;
 outline: none;
 border: 0px solid;
 border-radius: 4px;
 color: rgb(97, 96, 96);
}
.last{
 color: gray;
 
}
a{
 text-decoration: none;
 color: gray;
}
.blue{
 color: rgb(35, 35, 219);
}

/* Extra small devices (phones, 600px and down) */
   @media only screen and (max-width: 1300px) {
    .div1{
        display: block;
    }
    .right{
        display: none;
        width: 0;
    }
    .left>.form{
        width: 80%;
        margin: auto;
       
    }
   } 


